<h1>Hello to our application :)</h1>

<!-- <div class="alert alert-success" role="alert">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>
<div class="alert alert-info" role="alert">
  <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
</div>
<div class="alert alert-warning" role="alert">
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>
<div class="alert alert-danger" role="alert">
  <strong>Oh snap!</strong> Change a few things up and try submitting again.
</div> -->

<div class="row">
	<div class="col form-control h">
		<h2>Latest Orders</h2>
		<ul>
		  <% for order in @latest_orders %>
		  <li>
		    <%= h link_to "#{order.meal} on #{order.created_at.to_formatted_s(:long_ordinal)}", user_order_path(order.user_id,order) %>
		  </li>
		  <% end %>
		</ul>
	</div>

	<div class="col form-control h">
		<h2>Latest Activity</h2>
		
	</div>
	
</div>