<li>
  <img src='<%= image_path("icons/notification_bell-a841e323e0ff181273a95e54b4e0daa272c391efb5732c71cc5ea9ca61333ad6.svg") %>'>  
  <% if counter > 0 %>
  <span  id="notification-counter"><%= counter %></span>
  <% end %>
</li>
